<% if @user %>
  <% if !@user.errors.empty? %>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li class="error-message"><%= message %></li>
        <% end %>
      </ul>
  <% end %>
<% end %>
