@import "bootstrap-sprockets";
@import "bootstrap";

/* header */

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

header {
    background-color: #2980b9;
    height: 60px;
}

#logo {
    float: left;
    padding-left: 30px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    line-height: 60px;
    color: white;
}

.menu {
    float: right;
}

.menu-item {
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 60px;
    padding-right: 30px;
    padding-left: 20px;
    float: left;
}

/* forms */
.new_form {
    padding: 60px;
    margin-top: 100px;
    margin-right: 30%;
    margin-left: 30%;
    background-color: #ecf0f1;
}

.form {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 40px;
}



.submit-btn {
    background-color: #2980b9;
    color: white;
    font-family: 'Kosugi Maru', sans-serif;
    width: 40%;
    height: 30px;
    display: block;
    margin: 0 auto;
}