<% if !flash.empty? %>
    <div class="flash">
        <% flash.each do |message_type, message| %>
            <div class="flash-<%= message_type %>"><%= message %></div>
        <% end %>
    </div>
<% end %>